.content {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
}

#logo, #welcomeBanner  {
	background-color: white;
	height: 212px;
	margin-top: 50px;
	margin-left: 20px;
}

#logo img {
	max-height: 90%;
	max-width: 90%;
}

#header h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 16pt;
	letter-spacing: 0.25em;
}

#navigationMenu {
	margin-top: 70px;
	margin-left: 20px;

}

.hideButton{
	display:none;
	opacity: 0;
}

#navigationMenu ul {
	margin:0px;
	padding:0px;
	color: #CCA772;
	border-top: solid;
	border-bottom: solid;
}

#navigationMenu ul li {
	list-style:none;
	padding: 20px;
	color: #CCA772;
	font-size: 14pt;
	text-transform: uppercase;
	border-bottom:#CCA772 solid;
	cursor:pointer;
	text-align: center;
	letter-spacing: 0.25em;
}

#navigationMenu ul li:hover {
	color: #CCA772;
	background-color: #000;
}

#productList {
	margin-top: 50px;
	margin-left: 20px;
	text-align: center;
	margin-bottom: 20px;
}

#productList .product {
	height: 200px;
	width: 200px;
  	cursor: pointer;
	margin: 5px;
}

#productList p {
	font-size: 14pt;
	font-weight: bold;
}

#productList .product:hover  {
	background-color: #C4C4C0;
	border-radius: 5px;
}

#productList .product img {
	margin-top: 20px;
	max-height: 70%;
	max-width: 80%;
}

#productList .product .product-price {
	text-align: center;
	opacity: 0;
	bottom: 30px;
}

#productList .product:hover .product-price {
	opacity: 1;
	background-color: #CCA772;
	color: #fff;
	padding: 2px;
	height: 30pt;
}
 #productlist .product .cartButtons{
 	opacity: 0;
 }

.bringToFront{
	z-index: 100;
}

#productlist .product:hover .cartButtons{
	position: relative;
	opacity: 1;
	bottom: 80px;
}

#productList .cart img {
	opacity: 0;
}

#productList .product:hover .cart img{
	opacity: 1;
	max-height: 30%;
	max-width: 30%;
	bottom: 30px;
	float: left;
	background-color: #000;
	position: relative;
	bottom: 140px;
	padding: 5px;
	border-radius: 2em;
}

.cartTotal {
	position: relative;
	float: right;
	background-color: #CCA772;
}

.cartTotal input[type="button"] {
	font-weight: bold;
	font-size: 16pt;
	text-transform: uppercase;
}

.icon{
	position: relative;
}

#productList span {
	position: absolute;
	left: 0;
	bottom: -10px;
	padding: 5px;
	font-size: 16pt;
	text-align: center;
	width: 100%;
}

/* Table */
table, th {
	border: 0px solid black;
}

th, td {
	padding: 10px;
}

.addToCartModal, .removeFromCartModal{
	margin-left: 5px;
	margin-right: 5px;
}

#footer p {
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	font-size: 12pt;
	text-transform: uppercase;
}

#footer {
	height: 50px;
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}
